body {
  font-family: "Cinzel Decorative", cursive;
}
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cinzel Decorative", cursive !important ;
  font-size: 2rem;
  height: 100vh;
  color: #222;
  background-color: #eabfb9;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;

}

.app {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 4rem;
    padding: 6rem 0;
    border: 2px solid #222;
    outline: 2px solid #222;
    outline-offset: 1.2rem;
  }
  
  h1 {
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 2.4rem;
  }
  
  input {
    font-family: inherit;
    color: inherit;
    font-size: 2rem;
    background-color: #f0d2ce;
    padding: 1.6rem 3.2rem;
    border: none;
    width: 32rem;
    text-align: center;
  }
  
  input:focus {
    outline: 2px solid #222;
  }
  
  .weather {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }
  
  .day {
    background-color: #f0d2ce;
    padding: 1.6rem 0 2rem;
    width: 12.8rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
  }
  
  .day span {
    font-size: 5.2rem;
  }
  
  .day.important {
    background-color: #ecc5c0;
    outline: 2px solid #222;
  }
  
  .loader {
    font-size: 2.4rem;
    font-weight: 700;
  }
  
  
  /* notes =======================> */
  

#root {
  width: 100%;
}
.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 112rem; */
  gap: 4rem;
  padding-bottom: 6rem 0;
}

.form__note .form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
  border: 3px solid #c99088;
  height: 300px;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}
textarea {
  height: 150px;
  width: 100% !important;
  margin-top: 0.5em;
  font-size: 1em;
  resize: unset;
  background: #fbdfdb;
  padding: 7px;
  font-family: "Cinzel Decorative", cursive;
  outline: none;
  border: none;
}

textarea:focus-visible {
  border: 1.5px solid #c99088;
  outline: none;
}

.form__note .form button {
  padding: 9px;
  font-size: 0.8em;
  background: #c97e74;
  border: none;
  cursor: pointer;
  color: #fff;
}

.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f9e1e1;
  border: 3px solid #c99088;
  height: 300px;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
}
.all__notes {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em !important;
}

.body__notes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  justify-content: center;
}
.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.controls span {
  padding: 9px;
  font-size: 2em;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.edit {
  background: transparent;
  color: #3b3a3a;
  rotate: 130deg;
}
.edit__copm {
  position: absolute;
  background: #191818d1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.parent__save {
  display: flex;
  justify-content: end;
}

.save {
  padding: 9px;
  font-size: 0.8em;
  background: #c97e74;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}
.edit__form textarea {
  width: 500px !important;
}
.edit__form {
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: -32px;
  color: #fff;
  cursor: pointer;
}

.done {
  background: #cf7575;
  border: 3px solid #0f0e0e;
  color: #fff;
  text-decoration: none;
}

.lineThorow {
  text-decoration: line-through;
}
h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
@media screen and (max-width: 480px) {
  .edit__form textarea {
    width: 330px !important;
  }
  h1 {
    font-size: 4rem;
  }
}

